* {
    font-family: Georgia, 'Times New Roman', Times, serif
}

button, input {
    width: 100%;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
}

button, #city-block {
    background-color: lightblue;
}

#search-area {
    border-bottom: solid gray;
    padding-bottom: 10px;
}

#search-history {
    padding-top: 10px;
}

#city-block, #forecasts {
    border: solid gray;
    padding: 10px;
}

#city-name, img {
    display: inline;
    font-weight: bold;
}

.five-forecasts {
    border: solid gray;
    background-color: lightblue;
    margin: 8px;
    height: 300px;
}

#one-date, #two-date, #three-date, #four-date, #five-date {
    font-weight: bold;
}

